___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise - 

# The Data

The dataset contains a list of all stocks included in the SP500 and associated key financials. <br />

Note that there are multiple viable solutions for most of the tasks!


Acknowledgements
----------------------------
The dataset was originally provided on https://datahub.io/core/s-and-p-500-companies-financials and is licensed under Open Data Commons Public Domain Dedication and License. (https://opendatacommons.org/licenses/pddl/1-0/)

**Task: Import the necessary libraries**

In [1]:
# CODE HERE
import numpy as np
import pandas as pd

**Task: Read the two datasets provided in the current directory (also available in the DATA folder. (The file names are: constituents.csv and constituents-financials.csv)**

In [2]:
# CODE HERE
cons = pd.read_csv('constituents.csv')
consf = pd.read_csv('constituents-financials.csv')

**Task: List all columns of the two datasets. Additionally retrieve the datatype for each column**

In [3]:
# CODE HERE
cons.columns

Index(['Symbol', 'Name', 'Sector'], dtype='object')

In [4]:
consf.columns

Index(['Symbol', 'Price', 'Price/Earnings', 'Dividend Yield', 'Earnings/Share',
       '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA', 'Price/Sales',
       'Price/Book', 'SEC Filings'],
      dtype='object')

**Task: Print the first 5 rows of both datasets**

In [5]:
cons.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [6]:
consf.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

**Task: Drop the SEC Filings column**

In [7]:
consf = consf.drop('SEC Filings', axis=1)
consf

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62
...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31
501,YUM,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08
502,ZBH,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39
503,ZION,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42
504,ZTS,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: Set the Symbol column to the index in the financials dataset**

In [8]:
cons = cons.set_index('Symbol')
cons

                          Name                  Sector
Symbol
MMM                 3M Company             Industrials
AOS            A.O. Smith Corp             Industrials
ABT        Abbott Laboratories             Health Care
ABBV               AbbVie Inc.             Health Care
ACN              Accenture plc  Information Technology
...                        ...                     ...
XYL                 Xylem Inc.             Industrials
YUM            Yum! Brands Inc  Consumer Discretionary
ZBH     Zimmer Biomet Holdings             Health Care
ZION             Zions Bancorp              Financials
ZTS                     Zoetis             Health Care

[505 rows x 2 columns]

**Task: What are the 10 largest companies according to market cap?**

In [9]:
consf = consf.sort_values('Market Cap', ascending=False)
consf

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
51,AAPL,155.15,16.86,1.579541,9.20,180.100,131.1200,809508034020,7.938600e+10,3.458609,5.66
27,GOOGL,1007.71,31.48,0.000000,22.27,1198.000,824.3000,733823966137,3.421700e+10,6.801692,4.70
28,GOOG,1001.52,40.29,0.000000,22.27,1186.890,803.1903,728535558140,3.271400e+10,6.772653,4.67
311,MSFT,85.01,25.76,1.874791,2.97,96.070,63.2200,689978437468,4.107900e+10,7.113097,9.49
30,AMZN,1350.50,296.16,0.000000,6.16,1498.000,812.5000,685873374731,1.613200e+10,3.927053,24.28
...,...,...,...,...,...,...,...,...,...,...,...
324,NAVI,13.38,7.56,4.558404,1.01,16.970,11.4810,3692691330,0.000000e+00,0.698658,1.02
386,RRC,12.82,35.61,0.609756,-2.79,34.090,12.7000,3255587970,8.200950e+08,1.962434,0.59
353,PDCO,32.88,14.05,3.072378,1.79,48.295,32.0700,3209792400,3.596440e+08,0.787279,2.34
412,SIG,49.38,6.65,2.473075,7.03,77.940,46.0900,3034275549,8.527000e+08,0.756470,1.38
104,CHK,2.82,4.70,0.000000,-6.44,6.590,2.8000,2626102121,1.470000e+09,0.407652,1.84

**Task: Return all information about the 10 largest companies according by market cap**

In [10]:
# CODE HERE
top_ten = consf.sort_values(by='Market Cap', ascending=False).head(10)
top_ten

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
51,AAPL,155.15,16.86,1.579541,9.20,180.1000,131.1200,809508034020,7.938600e+10,3.458609,5.66
27,GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.3000,733823966137,3.421700e+10,6.801692,4.70
28,GOOG,1001.52,40.29,0.000000,22.27,1186.8900,803.1903,728535558140,3.271400e+10,6.772653,4.67
311,MSFT,85.01,25.76,1.874791,2.97,96.0700,63.2200,689978437468,4.107900e+10,7.113097,9.49
30,AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.5000,685873374731,1.613200e+10,3.927053,24.28
187,FB,171.58,27.90,0.000000,5.39,195.3200,132.4400,523423036576,2.362400e+10,13.241967,7.08
263,JPM,107.88,15.43,1.984584,6.30,117.3529,81.6350,386613611000,0.000000e+00,3.371499,1.60
261,JNJ,126.36,17.31,2.556688,0.39,148.3200,113.1500,353062464971,2.243000e+10,4.632622,4.74
185,XOM,76.07,21.37,4.003120,1.88,89.3000,76.0500,326148660000,3.905200e+10,1.770194,1.85
66,BAC,29.74,16.34,1.536000,1.55,32.6700,22.0700,321478200969,0.000000e+00,3.201187,1.24

Note: The difference between GOOG and GOOGL is, that GOOG shares have no voting rights

**Task: Drop GOOG**

In [24]:
consf = consf.drop(consf[consf['Symbol'] == 'GOOG'].index)
consf.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
51,AAPL,155.15,16.86,1.579541,9.20,180.10,131.12,809508034020,7.938600e+10,3.458609,5.66
27,GOOGL,1007.71,31.48,0.000000,22.27,1198.00,824.30,733823966137,3.421700e+10,6.801692,4.70
311,MSFT,85.01,25.76,1.874791,2.97,96.07,63.22,689978437468,4.107900e+10,7.113097,9.49
30,AMZN,1350.50,296.16,0.000000,6.16,1498.00,812.50,685873374731,1.613200e+10,3.927053,24.28
187,FB,171.58,27.90,0.000000,5.39,195.32,132.44,523423036576,2.362400e+10,13.241967,7.08

**Task: How many companies have a dividend yield > 4% ?**

In [26]:
div_yield_4pct = consf[consf['Dividend Yield'] > 0.04].shape[0]
div_yield_4pct

416

**Task: What is the mean Earnings per Share for all companies with a market cap > 1e+11**

In [27]:
mean_eps = consf[consf['Market Cap'] > 1e+11]['Earnings/Share'].mean()
mean_eps

4.746470588235294

**Task: How many companies have a positive earnings per shares ratio?**

In [29]:
pos_eps = consf[consf['Earnings/Share'] > 0].shape[0]
pos_eps

452

**Task: Which company pays the highest dividend yield? What was its 52 week high?**

In [30]:
highest_div_yield_index = consf['Dividend Yield'].idxmax()
highest_div_yield_company = consf.loc[highest_div_yield_index, 'Symbol']
highest_div_yield_52week_high = consf.loc[highest_div_yield_index, '52 Week High']
highest_div_yield_company

'CTL'

In [31]:
highest_div_yield_52week_high

13.161

**Task: Return the company with the largest spread between 52 weeks high and low**

In [32]:
consf['Spread'] = consf['52 Week High'] - consf['52 Week Low']
largest_spread_index = consf['Spread'].idxmax()
largest_spread_company = consf.loc[largest_spread_index, 'Symbol']
largest_spread_company

'AES'

**Task: Return all companies whith a price between \\$ 50 and \\$ 100**

In [34]:
price_between_50_100 = consf[(consf['Price'] >= 50) & (consf['Price'] <= 100)]
price_between_50_100

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Spread
311,MSFT,85.01,25.76,1.874791,2.97,96.0700,63.220,689978437468,4.107900e+10,7.113097,9.49,-32.8500
185,XOM,76.07,21.37,4.003120,1.88,89.3000,76.050,326148660000,3.905200e+10,1.770194,1.85,-13.2500
485,WFC,55.40,13.58,2.711158,4.07,66.3100,49.270,281463620775,0.000000e+00,2.872819,1.58,-17.0400
374,PG,80.22,20.46,3.370479,5.60,94.6700,80.100,206318943299,1.724900e+10,3.159500,3.85,-14.5700
114,C,71.87,13.48,1.706894,-3.10,80.7000,56.140,192709302000,0.000000e+00,2.185759,0.90,-24.5600
...,...,...,...,...,...,...,...,...,...,...,...,...
79,BHF,55.44,22.63,0.000000,-24.62,75.0000,52.751,7066613254,0.000000e+00,1.418836,0.51,-22.2490
396,RHI,52.26,20.18,1.707577,2.32,60.5900,42.920,7047165475,5.651960e+08,1.333040,5.98,-17.6700
422,SRCL,70.55,16.26,0.000000,2.08,88.0000,61.250,6218560288,3.050850e+08,2.260732,2.15,-26.7500
82,BF.B,63.33,37.04,1.121696,1.70,69.9028,45.415,5498033502,1.139000e+09,1.841140,12.36,-24.4878
57,AIZ,85.16,33.27,2.531359,9.08,106.9850,85.910,4653993594,0.000000e+00,0.982187,1.12,-21.0750

**Task: The market cap is really hard to read. Create a new column called "Market Cap in Billion" which shows the market cap in billions**

In [35]:
consf['Market Cap in Billion'] = consf['Market Cap'] / 1e9

**Task: Is there a correlation between the market cap and the Dividend Yield?**

In [36]:
correlation = consf['Market Cap'].corr(consf['Dividend Yield'])
print("Correlation coefficient between Market Cap and Dividend Yield:", correlation)

Correlation coefficient between Market Cap and Dividend Yield: -0.0035059912431171817

**Task: Merge the financials dataframe with the constituents dataframe**

In [37]:
merged_df = pd.merge(cons, consf, on='Symbol')
merged_df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Spread,Market Cap in Billion
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,-84.280,138.721055
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,-19.465,10.783420
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,-22.320,102.121042
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,-65.810,181.386347
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,-47.780,98.765856

**Task: Print all sectors. How often does each sector occur?**

In [38]:
sector_counts = merged_df['Sector'].value_counts()
print(sector_counts)

Consumer Discretionary        84
Information Technology        69
Financials                    68
Industrials                   67
Health Care                   61
Consumer Staples              34
Real Estate                   33
Energy                        32
Utilities                     28
Materials                     25
Telecommunication Services     3
Name: Sector, dtype: int64

**Task: Replace Information Technology by "IT"**

In [41]:
merged_df['Sector'] = merged_df['Sector'].replace('Information Technology', 'IT')
merged_df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Spread,Market Cap in Billion
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,-84.280,138.721055
1,AOS,A.O. Smith Corp,Industrials,$60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,-19.465,10.783420
2,ABT,Abbott Laboratories,Health Care,$56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,-22.320,102.121042
3,ABBV,AbbVie Inc.,Health Care,$108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,-65.810,181.386347
4,ACN,Accenture plc,IT,$150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,-47.780,98.765856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,XYL,Xylem Inc.,Industrials,$70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,-29.950,12.915021
500,YUM,Yum! Brands Inc,Consumer Discretionary,$76.3,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,-24.080,27.003303
501,ZBH,Zimmer Biomet Holdings,Health Care,$115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,-25.320,24.454698
502,ZION,Zions Bancorp,Financials,$50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,-17.180,10.670679
503,ZTS,Zoetis,Health Care,$71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,-28.130,35.991110

**Task: Add a \$ before the stock price**

In [42]:
merged_df['Price'] = merged_df['Price'].apply(lambda x: '$' + str(x))
merged_df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Spread,Market Cap in Billion
0,MMM,3M Company,Industrials,$$222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,-84.280,138.721055
1,AOS,A.O. Smith Corp,Industrials,$$60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,-19.465,10.783420
2,ABT,Abbott Laboratories,Health Care,$$56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,-22.320,102.121042
3,ABBV,AbbVie Inc.,Health Care,$$108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,-65.810,181.386347
4,ACN,Accenture plc,IT,$$150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,-47.780,98.765856